body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.containerWrapper {
  min-height: calc(100vh - 260px);
}

.containbg{
  padding: 40px;
  border-radius: 8px;
  background: '#f0f4f7';
}

.overflow-break{
  overflow-wrap: break-word !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}